@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --main: #F5F7FB;
    --primary: #445AF7;
    --purple: #7756D8;
    --purple-100: #bbaaec;
    --gray: #737A85;
    --dark-gunmetal: #1D2935;
    --blue-chalk: #EEEAFF;
    --soapstone-white: #FCFBFC;
    --blue-lavender: #E3EAFB;
    --white:#ffffff;
    --green: #75CC94;

}

@font-face {
  font-family: "Peyda-Medium";
  font-style: normal;
  src: url("/fonts/payda/Peyda-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Peyda-Black";
  font-style: normal;
  src: url("/fonts/payda/Peyda-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Peyda-Bold";
  font-style: normal;
  src: url("/fonts/payda/Peyda-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Peyda-ExtraBold";
  font-style: normal;
  src: url("/fonts/payda/Peyda-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "peyda-extralight";
  font-style: normal;
  src: url("/fonts/payda/peyda-extralight.ttf") format("truetype");
}@font-face {
  font-family: "peyda-light";
  font-style: normal;
  src: url("/fonts/payda/peyda-light.ttf") format("truetype");
}
@font-face {
  font-family: "Peyda-SemiBold";
  font-style: normal;
  src: url("/fonts/payda/Peyda-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Peyda-Thin";
  font-style: normal;
  src: url("/fonts/payda/Peyda-Thin.ttf") format("truetype");
} 


body {
  direction: rtl;
  height: 100vh;
  font-family: "Peyda-Medium","Peyda-SemiBold","Peyda-Thin", serif;
}
.font-black{
  font-family:"Peyda-Black" ;
}
.font-extrabold{
  font-family:"Peyda-ExtraBold" ;
}
.font-bold{
  font-family:"Peyda-Bold" ;
}

.font-extralight{
  font-family: "peyda-extralight";
}

.font-light{
  font-family: "peyda-light";
}
.blog-scrollbar::-webkit-scrollbar {
  display: none;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.3);
  right: 10px;
  --swiper-navigation-size: 20px;
  padding: 20px;
  border-radius: 10px;
  border-color: #7756d8 !important;
  border-width: 2px;
  color: #7756d8 !important;
  fill: #7756d8 !important;
  stroke: #7756d8 !important;
}
.swiper-button-next:hover {
  background-color: rgba(255, 255, 255, 0.3);
  background-color: #7756d8;
  color: white !important;
}
.swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: white !important;
  background-color: #7756d8;
}

